:root {
    --header-height: 100px;
    --content-max-width: 900px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

body {
    padding: 10px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
}

#header-container {
    width: 90%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin: 0;
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
}

#user-login-container {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-login-container > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: calc(var(--header-height) + 40px);
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/* Homepage login-with-github link. */
#login-link {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#last-refreshed-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: var(--content-max-width);
    font-size: 1.2rem;
    margin: 0 auto;
}

#refresh-button {
    cursor: pointer;
}

/* Search area */
#search-container {
    max-width: var(--content-max-width);
    margin: 20px auto;
}
#search-input {
    display: block;
    width: 100%;
}

#visibility-filters {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
}
.visibility-filter {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.visibility-filter > input[type="checkbox"] {
    margin: 0;
}

.visibility-filter > label {
    margin: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* Repo list section */
#repo-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid rgba(200, 200, 200);
    padding-top: 20px;
    border-radius: 5px;
}

#repo-list-table {
    width: 90%;
    margin: auto;
}

tr {
    border-bottom: 1px solid #e1e1e1;
}

td {
    border-bottom: 0;
}

#repo-list-table tr:hover,
#collaborators-list-table tr:hover {
    background: #efefef;
}

#repo-list-table td,
#collaborators-list-table td {
    padding: 8px 15px;
}

.visibility-cell {
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: 1px;
    width: 15%;
    max-width: 7ch;
}

.actions-cell {
    width: 30%;
    max-width: 20ch;
}

.action-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.action-buttons-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    transition: all 250ms ease-in-out;
}

.action-buttons-container button:hover {
    color: black;
}

.toggle-visibility-button {
    margin: 0 1rem;
}

/* Repo info sidebar. */
#repo-info-container {
    position: fixed;
    --height: calc(100vh - var(--header-height) - 20px);
    --width: 300px;
    top: calc(var(--header-height) + 20px);
    right: 0;
    height: var(--height);
    width: var(--width);
    box-sizing: border-box;
    padding: 30px 20px;
    background: white;
    opacity: 90%;
    border-radius: 10px 0 0 10px;
    box-shadow: #b6b6b6 0px -1px 20px 2px;
    transition: transform 300ms ease-in-out;
}

.sidebar-hidden {
    transform: translateX(calc(var(--width) + 20px));
}

#repo-info-container h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #e1e1e1;
}

#repo-collaborators-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.35rem;
}

#repo-collaborators-container .collaborator-username {
    background: #e1e1e1;
    padding: 2px 15px;
    border-radius: 99vh;
}

#collaborators-list-table {
    width: 100%;
}
