<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Repo Manager {% if page_title %} - {{ page_title }} {% endif %}</title>
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1 id="logo">Repo Manager</h1>
                {% if "github_user" in session %}
                <div id="user-login-container">
                    <a href="https://github.com/{{ session["github_user"] }}" target="_blank">{{ session["github_user"] }}</a>
                    <a href="{{ url_for('logout') }}">
                        <span class="material-icons">logout</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block page_scripts %}{% endblock %}
</html>
